body { padding: 0; margin: 0; font-family: Arial, sans-serif }

#content {
    display: flex;
}

/*sidebar*/
.sidebar {
    background-color: #f8fafc;
    height: 100vh;
    width: 296px;
}
.sidebarIntegratedItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.sidebarIntegratedItem2 {
    display: flex;
    flex-direction: column;
}

.sideBarRightComponentButtonContainer {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8fafc;
}
.sideBarRightComponentButton {
    width: 30px;
    height: 30px;
}
.sidebarListItemContainer {
    display: flex;
    justify-content: space-between;
    alignt-items: center;
}
.sidebarListIcon {

}

/* new List Popup */
.newListCard {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    text-align: center;
    height: 250px;
    width: 500px;
    border: solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newListCardButton {
    height: 30px;
    width: 80px;
}

/* main list content */

.mainContainer {
    
}

.listItemContainer {
    display: flex;
    flex-direction: space-between;
    alignt-items: center;
}
.listItemIconContainer {
    display: flex;
    align-items: center;
}