html, body {
    padding: 0;
    margin: 0; 
    font-family: Arial, sans-serif;
    height: 100%;
    /*overflow: hidden*/
}
/*header*/
.headerContainer {
    display: flex;
    align-items: center;
    background-color: #5eead4;
    color: white;
    font-size: 30px;
    height: 60px;
}

.leftHeaderContent {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 5px;
    gap: 5px;
    margin-left: 40px;
}
.toDo {
    display: flex;
    align-items: center;
}
.headerIcon {
    height: 35px;
    filter: brightness(0) invert(1);
}


#content {
    display: flex;
}

/*sidebar*/
.sidebar {
    background-color: #f8fafc;
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    font-size: 20px;

}
.sidebarAddTaskButton {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;
}
    .createTask {
        height: 70px;
        width: 200px;
        border-radius: 20px;
        font-size: 25px;
    }
.sidebarIntegratedItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 25px;
}
.sidebarItemSelected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #5eead4;
    color: white;
}

.sidebarIntegratedItem2 {
    display: flex;
    flex-direction: column;
}

.sideBarRightComponentButtonContainer {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8fafc;
}
.sideBarRightComponentButton {
    width: 30px;
    height: 30px;
}
.sidebarListItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%
}
.sidebarListItemContainerSelected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5eead4;
    color: white;
}
.sidebarListIconButton {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebarListIcon {
    height: 25px;
}
/* new Task Popup */
.newTaskCard {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 250px;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    text-align: center;
    height: 230px;
    width: 600px;
    border: solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px black;
    font-size: 25px;
}
.taskCardTextBorder {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}
.taskInfoFirstRow {
    display: flex;
    width: 80%;
    justify-content: center;
    gap: 20px;
}
.taskInfoItemContainer {
    display: flex;
    gap: 5px;
}
.cardButtonIntegrator {
    display: flex;
    gap: 20px;
}
.taskCardButton {
    width: 130px;
    height: 50px;
    border-radius: 20px;
    border: solid black;
    font-size: 20px;
}
#addTask {
    background-color: #5eead4;
    color: white;
}
#title, #date, #list {
    font-size: 20px;
}

/* new List Popup */
.newListCard {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 250px;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    text-align: center;
    height: 230px;
    width: 450px;
    border: solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px black;
    gap: 35px;
}
.cardTextBorder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#listName {
    height: 30px;
    width: 200px;
    font-size: 20px;
}
#listNameLabel {
    font-size: 20px;
}
.newListCardButton {
    width: 130px;
    height: 50px;
    border-radius: 20px;
    border: solid black;
    font-size: 20px;
}
    #listAdd {
        background-color: #5eead4;
        color: white;
    }

/* main list content */

.mainContainer {
    
}

.listItemContainer {
    display: flex;
    flex-direction: space-between;
    alignt-items: center;
}
.listItemIconContainer {
    display: flex;
    align-items: center;
}